<h1 class="text-center none-margin-top-bottom">Corpses</h1>

<div class="container">
	<p>
		<%= link_to "", new_corpse_path, class: "btn btn-success btn-circle btn-outline glyphicon glyphicon-plus" %>
	</p>
        <table class="table table-bordered table-striped text-center table-background">
	<tr>
		<th class="text-center">First name</th>
		<th class="text-center">Last name</th>
		<th class="text-center">Pesel</th>
		<th class="text-center">Date of birth</th>
		<th class="text-center">Date of death</th>
		<th class="text-center"></th>
	</tr>
	<% @corpses.each do |c| %>
	<tr>
		<td><%= c.first_name %></td>
		<td><%= c.last_name %></td>
		<td><%= c.pesel %></td>
		<td><%= c.date_of_birth %></td>
		<td><%= c.date_of_death %></td>
		<td>
			<%= link_to "", c, class: "btn btn-xs btn-info btn-circle btn-outline glyphicon glyphicon-eye-open" %>
			<%= link_to "", edit_corpse_path(c), class: "btn btn-xs btn-primary btn-circle btn-outline glyphicon glyphicon-pencil" %>
			<%= link_to "", c, :data => {:confirm => "Are you sure?"}, :method => :delete, class: "btn btn-xs btn-danger btn-circle btn-outline glyphicon glyphicon-remove" %>
		</td>
	</tr>
	<% end %>
	</table>
	<%= will_paginate @corpses, class: "text-center" %>
</div>