<h1 class="text-center none-margin-top-bottom">Add new corpse</h1>

<div class="container">
	<%= form_for @corpse do |f| %>
		<% if @corpse.errors.any? %>
			<h3 class="text-center">Errors</h3>
			<ul class="text-center">
				<% @corpse.errors.full_messages.each do |m| %>
					<li><%= m %></li>
				<% end %>
			</ul>
		<% end %>
		<div class="form-group">
			<%= f.label :first_name, class: "col-sm-2 control-label" %>
			<div class="col-sm-10">
				<%= f.text_field :first_name, class: "form-control opacity" %>
				</br>
			</div>
		</div>
		<div class="form-group">
			<%= f.label :last_name, class: "col-sm-2 control-label" %>
			<div class="col-sm-10">
				<%= f.text_field :last_name, class: "form-control opacity" %>
				</br>
			</div>
		</div>
		<div class="form-group">
			<%= f.label :pesel, class: "col-sm-2 control-label" %>
			<div class="col-sm-10">
				<%= f.text_field :pesel, class: "form-control opacity" %>
				</br>
			</div>
		</div>
		<div class="form-group">
			<%= f.label :date_of_birth, class: "col-sm-2 control-label" %>
			<div class="col-sm-10">
				<%= f.text_field :date_of_birth, class: "form-control opacity" %>
				</br>
			</div>
		</div>
		<div class="form-group">
			<%= f.label :date_of_death, class: "col-sm-2 control-label" %>
			<div class="col-sm-10">
				<%= f.text_field :date_of_death, class: "form-control opacity" %>
				</br>
			</div>
		</div>
		<div class="form-group">
			<div class="text-center">
				<button type="submit" class="btn btn-success btn-circle btn-outline glyphicon glyphicon-ok"></button>
				<%= link_to "", corpses_path, class: "btn btn-default btn-circle btn-outline glyphicon glyphicon-arrow-left" %>
			</div>
		</div>
	<% end %>
</div>