<h1 class="text-center none-margin-top">Forgot your password?</h1>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	<div class="text-center">
  		<%= devise_error_messages! %>
	</div>

	<div class="container">
 		<div class="form-group">
			<%= f.label :email, class: "col-sm-2 control-label" %>
			<div class="col-sm-10">
   				<%= f.email_field :email, autofocus: true, class: "form-control opacity" %>
				<br />
			</div>
 		 </div>
  	</div>

	<div class="actions text-center">
   		<%= f.submit "Send me reset password instructions", class: "btn btn-default opacity" %>
  	</div>
<% end %>

<div class="text-center">
	<%= render "devise/shared/links" %>
</div>
