<!DOCTYPE html>
<html>
  <head>
    <title>Mortuary</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <meta http-equiv="no-cache"> 
  </head>

  <body>
	<nav class="navbar navbar-default">
    		<div class="collapse navbar-collapse">
      			<form class="navbar-form navbar-left none-margin-top-bottom">
    				<%= link_to "", root_path, class: "btn-lg btn-default  btn-outline btn-circle glyphicon glyphicon-home" %>
      				<% if user_signed_in? %>
    					<%= link_to "", corpses_path, class: "btn-lg btn-default  btn-outline btn-circle glyphicon glyphicon-th-list" %>
        			<% end %>
      			</form>
      			<form class="navbar-form navbar-right">
      			 <% if user_signed_in? %>
          			<%= link_to 'Edit account', edit_user_registration_path, class: "btn-lg btn-default  btn-outline btn-circle" %>
          			<%= link_to 'Log out', destroy_user_session_path, :method => :delete, class: "btn-lg btn-default  btn-outline btn-circle" %>
        		<% else %>
          			<%= link_to 'Log in', new_user_session_path, class: "btn-lg btn-default  btn-outline btn-circle" %>
          			<%= link_to 'Sign up', new_user_registration_path, class: "btn-lg btn-default  btn-outline btn-circle" %>
        		<% end %>
      			</form>
    		</div>
	</nav>
    <div class="container">
    	<% flash.each do |key, value| %>
		<div class="jumbotron statement">
    			<p><%= value %></p>
		</div>
    	<% end %>    
    </div>
    <%= yield %>
  </body>
</html>