<!DOCTYPE html>
<html>
  <head>
    <title>Mortuary</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
    <div class="container">
	<p>
    		<%= link_to "", root_path, class: "btn btn-default  btn-outline btn-circle btn-outline glyphicon glyphicon-home" %>
    		<%= link_to "", corpses_path, class: "btn btn-default  btn-outline btn-circle btn-outline glyphicon glyphicon-th-list" %>
	</p>
    	<% flash.each do |key, value| %>
		<div class="jumbotron statement">
    			<p><%= value %></p>
		</div>
    	<% end %>    
    </div>
    <%= yield %>
  </body>
</html>
